In [218]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd

# NASA Mars News

In [243]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [220]:
#url of the page to be scraped
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [221]:
html = browser.html
soup = bs(html, 'html.parser')

In [5]:
#print(soup.prettify())

In [222]:
# results are returned as an iterable list
results = soup.find_all('div', class_="slide")

#loop through returned list
for result in results:
    # error handling
    try:
        
        #identify and return the news title
        news_title = result.find('div', class_="content_title").text
        #identify and return the news paragraph
        news_paragraph = result.find('div', class_="rollover_description_inner").text
        #run only if title and paragraph is available
        if (news_title and news_paragraph):
            #Print results
            print('----------------')
            print(news_title)
            print(news_paragraph)
            
        # Dictionary to be inserted as MongoDB document
        
        #post={
       #     "news_title": news_title,
        #    "news_paragraph": news_paragraph
         #    }
        
        #collection.insert_one(post)
    except Exception as e:
        print(e)

----------------


New 'AR' Mobile App Features 3-D NASA Spacecraft



NASA spacecraft travel to far-off destinations in space, but a new mobile app produced by NASA's Jet Propulsion Laboratory, Pasadena, California, brings spacecraft to users.

----------------


Witness First Mars Launch from West Coast



NASA invites digital creators to apply for social media credentials to cover the launch of the InSight mission to Mars, May 3-5, at California's Vandenberg Air Force Base.

----------------


NASA InSight Mission to Mars Arrives at Launch Site



NASA's InSight spacecraft has arrived at Vandenberg Air Force Base in central California to begin final preparations for a launch this May.

----------------


NASA Invests in Visionary Technology



NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

----------------


NASA is Ready to Study the Heart of Mars



NASA is about to go on a journey to study the center of Mars.

----------------


NASA Briefing on First Mission to Study Mars Interior



NASA’s next mission to Mars will be the topic of a media briefing Thursday, March 29, at JPL. The briefing will air live on NASA Television and the agency’s website.

----------------


New 'AR' Mobile App Features 3-D NASA Spacecraft



NASA spacecraft travel to far-off destinations in space, but a new mobile app produced by NASA's Jet Propulsion Laboratory, Pasadena, California, brings spacecraft to users.

----------------


Witness First Mars Launch from West Coast



NASA invites digital creators to apply for social media credentials to cover the launch of the InSight mission to Mars, May 3-5, at California's Vandenberg Air Force Base.

----------------


NASA InSight Mission to Mars Arrives at Launch Site



NASA's InSight spacecraft has arrived at Vandenberg Air Force Base in central California to begin final preparations for a launch this May.

----------------


NASA Invests in Visionary Technology



NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.

----------------


NASA is Ready to Study the Heart of Mars



NASA is about to go on a journey to study the center of Mars.

----------------


NASA Briefing on First Mission to Study Mars Interior



NASA’s next mission to Mars will be the topic of a media briefing Thursday, March 29, at JPL. The briefing will air live on NASA Television and the agency’s website.

# JPL Mars Space Images - Featured Image

In [10]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [11]:
html = browser.html
soup = bs(html, 'html.parser')

In [12]:
image_url = soup.body.footer.a["data-fancybox-href"]
featured_image_url = 'https://www.jpl.nasa.gov'+ image_url

In [13]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19180_ip.jpg'

# Mars Weather

In [225]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [226]:
html = browser.html
soup = bs(html, 'html.parser')
#print(soup.prettify())

In [228]:
mars_weather = soup.body.find('div', class_='js-tweet-text-container').p.text
mars_weather

'Sol 2042 (May 05, 2018), Sunny, high -7C/19F, low -72C/-97F, pressure at 7.30 hPa, daylight 05:23-17:20'

# Mars Facts

In [230]:
import pandas as pd
url = 'https://space-facts.com/mars/'

In [231]:
table = pd.read_html(url)
table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [242]:
df = table[0]
#df.columns = ["Facts","Values"]
#df.set_index("Facts", inplace=True)
df

                                             Values
Facts
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [169]:
html_table = df.to_html()

In [170]:
html_table.replace("\n","")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemisperes

In [244]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [245]:
html = browser.html
soup = bs(html,'html.parser')
#print(soup.prettify())

In [246]:
results = soup.find_all('h3')
h3=[]
for result in results:
    h3.append(result.text)
print(h3)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [247]:
hemisphere_image_urls = []
for text in h3:
    browser.find_by_text(text).click()
    html = browser.html
    soup = bs(html, 'html.parser')
    title_text = soup.body.find('h2', class_='title').text
    image_url = soup.body.find('div', class_='downloads').find('li').a['href']
    browser.click_link_by_partial_text('Back')
    hemisphere_image_urls.append (
            {"title": title_text,
              "img_url": image_url})

print('Scraping complete')

Scraping complete

In [248]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]